Repository sapirl7/solarma: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, ktlint

.pre-commit-config.yaml:

# Pre-commit hooks for Solarma
# Install: pip install pre-commit && pre-commit install --hook-type pre-commit --hook-type commit-msg
# https://pre-commit.com

repos:
  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path programs/solarma_vault/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

  # Kotlin formatting (ktlint via Gradle)
  - repo: local
    hooks:
      - id: ktlint
        name: ktlint
        entry: bash -c 'cd apps/android && ./gradlew ktlintCheck -q 2>/dev/null'
        language: system
        types: [kotlin]
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.yml"]

  # Trailing whitespace and EOF
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-merge-conflict
      - id: detect-private-key

  # Conventional commit message enforcement
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          - feat
          - fix
          - chore
          - docs
          - style
          - refactor
          - test
          - build
          - ci
          - perf
          - revert

ci: add PR title lint for server-side conventional commit enforcement
  .github/workflows/pr-title-lint.yml
  GOVERNANCE.md
Due: none

ci: add main scope and least-privilege permissions to PR title lint
  .github/workflows/pr-title-lint.yml
Due: none

docs: sync main scope across PR title lint, GOVERNANCE, and CONTRIBUTING
  .github/workflows/pr-title-lint.yml
  CONTRIBUTING.md
  GOVERNANCE.md
Due: none

test(vault): add property-based fuzz tests for helpers.rs
  programs/Cargo.lock
  programs/solarma_vault/Cargo.toml
  programs/solarma_vault/src/lib.rs
  programs/solarma_vault/src/prop_tests.rs
Due: cargo-fmt

fix: resolve CI failures (cargo fmt, ktlint)
  apps/android/app/src/androidTest/java/app/solarma/SolarmaAppSmokeTest.kt
  apps/android/app/src/main/java/app/solarma/MainActivity.kt
  programs/solarma_vault/src/lib.rs
Due: cargo-fmt, ktlint

fix(vault): remove module_inception wrapper from prop_tests
  programs/solarma_vault/src/prop_tests.rs
Due: cargo-fmt

ci: fix security (gitleaks shallow clone) and docs (exclude .ai/)
  .github/workflows/ci.yml
Due: none

fix(ci): resolve ktlint and markdownlint pre-existing violations
  .markdownlint.yml
  apps/android/app/build.gradle.kts
  apps/android/app/src/main/java/app/solarma/navigation/Navigation.kt
Due: ktlint

fix(ci): fix ktlint parse crashes and remaining lint issues
  .github/pull_request_template.md
  .markdownlint.yml
  README.md
  apps/android/app/build.gradle.kts
  apps/android/app/src/main/java/app/solarma/ui/create/CreateAlarmScreen.kt
Due: ktlint

fix(android): disable ktlint argument-list-wrapping rule
  apps/android/.editorconfig
Due: none

fix(android): disable ktlint rules conflicting with Compose/test patterns
  apps/android/.editorconfig
Due: none

style(android): resolve all ktlint violations — zero errors
  apps/android/.editorconfig
  apps/android/app/src/main/java/app/solarma/alarm/AlarmActivity.kt
  apps/android/app/src/main/java/app/solarma/data/local/StatsDatabase.kt
  apps/android/app/src/main/java/app/solarma/ui/create/CreateAlarmScreen.kt
  apps/android/app/src/main/java/app/solarma/ui/create/CreateAlarmViewModel.kt
  apps/android/app/src/main/java/app/solarma/ui/details/AlarmDetailsScreen.kt
  apps/android/app/src/main/java/app/solarma/ui/onboarding/OnboardingScreen.kt
  apps/android/app/src/main/java/app/solarma/wallet/OnchainAlarmService.kt
  apps/android/app/src/main/java/app/solarma/wallet/SolarmaInstructionBuilder.kt
  apps/android/app/src/main/java/app/solarma/wallet/TransactionBuilder.kt
  apps/android/app/src/main/java/app/solarma/wallet/TransactionProcessor.kt
Due: ktlint

style(test): ktlint auto-format fixes in test source set
  apps/android/app/src/test/java/app/solarma/SolarmaTest.kt
  apps/android/app/src/test/java/app/solarma/alarm/AlarmRepositoryImportTest.kt
  apps/android/app/src/test/java/app/solarma/alarm/AlarmTimeCalculatorTest.kt
  apps/android/app/src/test/java/app/solarma/alarm/AlarmTimingTest.kt
  apps/android/app/src/test/java/app/solarma/ui/components/SnoozePenaltyDisplayParityTest.kt
  apps/android/app/src/test/java/app/solarma/ui/create/CreateAlarmViewModelTest.kt
  apps/android/app/src/test/java/app/solarma/ui/details/AlarmDetailsViewModelTest.kt
  apps/android/app/src/test/java/app/solarma/ui/history/HistoryViewModelTest.kt
  apps/android/app/src/test/java/app/solarma/ui/home/HomeViewModelTest.kt
  apps/android/app/src/test/java/app/solarma/ui/settings/SettingsViewModelTest.kt
  apps/android/app/src/test/java/app/solarma/wakeproof/WakeProofEngineTest.kt
  apps/android/app/src/test/java/app/solarma/wakeproof/WakeProofExpandedTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/ComputeBudgetTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/EconomicInvariantsTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/ImportOnchainAlarmMappingTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/OnchainAlarmParserEdgeCaseTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/OnchainAlarmParserTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/OnchainAlarmServiceIntegrationTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/OnchainAlarmServiceTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/PenaltyRouteTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/SolarmaInstructionBuilderExpandedTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/SolarmaInstructionBuilderTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionBuilderTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionDataClassTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionProcessorIntegrationTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionProcessorTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionQueueTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/TransactionSnapshotTest.kt
  apps/android/app/src/test/java/app/solarma/wallet/WalletManagerTest.kt
Due: ktlint

style(main): ktlint auto-format fixes in main source set
  apps/android/app/src/main/java/app/solarma/MainActivity.kt
  apps/android/app/src/main/java/app/solarma/alarm/AlarmReceiver.kt
  apps/android/app/src/main/java/app/solarma/alarm/AlarmRepository.kt
  apps/android/app/src/main/java/app/solarma/alarm/AlarmScheduler.kt
  apps/android/app/src/main/java/app/solarma/alarm/AlarmService.kt
  apps/android/app/src/main/java/app/solarma/alarm/AlarmTimeCalculator.kt
  apps/android/app/src/main/java/app/solarma/alarm/BootReceiver.kt
  apps/android/app/src/main/java/app/solarma/alarm/PendingCreateNotificationWorker.kt
  apps/android/app/src/main/java/app/solarma/alarm/RestoreAlarmsWorker.kt
  apps/android/app/src/main/java/app/solarma/alarm/SlashAlarmWorker.kt
  apps/android/app/src/main/java/app/solarma/data/local/AlarmDatabase.kt
  apps/android/app/src/main/java/app/solarma/di/DatabaseModule.kt
  apps/android/app/src/main/java/app/solarma/navigation/Navigation.kt
  apps/android/app/src/main/java/app/solarma/ui/components/Components.kt
  apps/android/app/src/main/java/app/solarma/ui/components/PenaltyRouteDisplay.kt
  apps/android/app/src/main/java/app/solarma/ui/components/QrCameraPreview.kt
  apps/android/app/src/main/java/app/solarma/ui/components/QrCodeGenerator.kt
  apps/android/app/src/main/java/app/solarma/ui/components/SnoozePenaltyDisplay.kt
  apps/android/app/src/main/java/app/solarma/ui/details/AlarmDetailsViewModel.kt
  apps/android/app/src/main/java/app/solarma/ui/history/HistoryScreen.kt
  apps/android/app/src/main/java/app/solarma/ui/history/HistoryViewModel.kt
  apps/android/app/src/main/java/app/solarma/ui/home/HomeScreen.kt
  apps/android/app/src/main/java/app/solarma/ui/home/HomeViewModel.kt
  apps/android/app/src/main/java/app/solarma/ui/settings/SettingsScreen.kt
  apps/android/app/src/main/java/app/solarma/ui/settings/SettingsViewModel.kt
  apps/android/app/src/main/java/app/solarma/ui/theme/Color.kt
  apps/android/app/src/main/java/app/solarma/ui/theme/Shape.kt
  apps/android/app/src/main/java/app/solarma/ui/theme/Theme.kt
  apps/android/app/src/main/java/app/solarma/ui/theme/Type.kt
  apps/android/app/src/main/java/app/solarma/wakeproof/NfcScanner.kt
  apps/android/app/src/main/java/app/solarma/wakeproof/QrScanner.kt
  apps/android/app/src/main/java/app/solarma/wakeproof/StepCounter.kt
  apps/android/app/src/main/java/app/solarma/wakeproof/WakeProofEngine.kt
  apps/android/app/src/main/java/app/solarma/wallet/ErrorClassifier.kt
  apps/android/app/src/main/java/app/solarma/wallet/NetworkChecker.kt
  apps/android/app/src/main/java/app/solarma/wallet/OnchainAlarmParser.kt
  apps/android/app/src/main/java/app/solarma/wallet/SolanaRpcClient.kt
  apps/android/app/src/main/java/app/solarma/wallet/TransactionQueue.kt
  apps/android/app/src/main/java/app/solarma/wallet/WalletManager.kt
Due: ktlint

ci: harden CI gates, add security-audit job, nightly anchor suite
  .github/workflows/ci.yml
  .github/workflows/release-build.yml
  docs/decisions/ADR-003-ktlint-disables.md
  programs/solarma_vault/docs/TESTING_STRATEGY.md
Due: none

fix(ci): resolve security-audit failures and harden npm audit pipeline
  .github/workflows/ci.yml
  programs/solarma_vault/docs/TESTING_STRATEGY.md
  programs/solarma_vault/docs/TEST_CASES.md
  programs/solarma_vault/package-lock.json
  programs/solarma_vault/tests/solarma_vault.ts
Due: none

fix(ci): restore green CI gates (advisory ignore, clippy lint, toolchain pin)
  .github/workflows/ci.yml
  programs/solarma_vault/deny.toml
  programs/solarma_vault/src/tests.rs
  rust-toolchain.toml
Due: cargo-fmt

fix(deps): patch ws to clear the high npm-audit advisory
  programs/solarma_vault/package-lock.json
Due: none

fix(ci): restore green CI gates (advisory ignore, clippy lint, toolchain pin) (#63)
  .github/workflows/ci.yml
  programs/solarma_vault/deny.toml
  programs/solarma_vault/package-lock.json
  programs/solarma_vault/src/tests.rs
  rust-toolchain.toml
Due: cargo-fmt

docs: correct ack_awake wording — acknowledgement, not on-chain wake proof
  README.md
  docs/ARCHITECTURE.md
  docs/TECHNICAL_SPEC.md
  programs/solarma_vault/src/instructions/ack_awake.rs
Due: cargo-fmt

refactor(program): delegate handler arithmetic to tested helpers.rs
  programs/solarma_vault/src/instructions/claim.rs
  programs/solarma_vault/src/instructions/emergency_refund.rs
  programs/solarma_vault/src/instructions/snooze.rs
  programs/solarma_vault/src/instructions/sweep_acknowledged.rs
Due: cargo-fmt

docs: correct ack_awake wording — acknowledgement, not on-chain wake proof (#64)
  README.md
  docs/ARCHITECTURE.md
  docs/TECHNICAL_SPEC.md
  programs/solarma_vault/src/instructions/ack_awake.rs
Due: cargo-fmt

refactor(program): delegate handler arithmetic to tested helpers.rs (#65)
  programs/solarma_vault/src/instructions/claim.rs
  programs/solarma_vault/src/instructions/emergency_refund.rs
  programs/solarma_vault/src/instructions/snooze.rs
  programs/solarma_vault/src/instructions/sweep_acknowledged.rs
Due: cargo-fmt

build(deps): sync Cargo.lock for blake3 =1.8.5
  programs/Cargo.lock
Due: none

ci(security): pin third-party Actions to commit SHAs + supply-chain hardening
  .github/dependabot.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pr-title-lint.yml
  .github/workflows/release-build.yml
  .github/workflows/release-please.yml
Due: none

fix(vault): bound alarm deadline horizon to prevent overflow fund-lock
  programs/solarma_vault/src/constants.rs
  programs/solarma_vault/src/error.rs
  programs/solarma_vault/src/helpers.rs
  programs/solarma_vault/src/instructions/create_alarm.rs
Due: cargo-fmt

feat(vault): enforce wake proof on-chain via commitment/reveal [DRAFT]
  docs/adr/0007-onchain-wake-proof.md
  programs/solarma_vault/src/error.rs
  programs/solarma_vault/src/helpers.rs
  programs/solarma_vault/src/instructions/ack_awake.rs
  programs/solarma_vault/src/instructions/create_alarm.rs
  programs/solarma_vault/src/lib.rs
  programs/solarma_vault/src/state.rs
Due: cargo-fmt

docs(adr-0007): recommend per-alarm preimage derivation
  docs/adr/0007-onchain-wake-proof.md
Due: none

review(wake-proof): fix sha256→blake3 comments; document fresh-deploy gate & client self-check
  docs/adr/0007-onchain-wake-proof.md
  programs/solarma_vault/src/helpers.rs
Due: cargo-fmt

feat(vault): distinct AlarmStatus::Refunded for emergency_refund [DRAFT]
  programs/solarma_vault/src/instructions/emergency_refund.rs
  programs/solarma_vault/src/state.rs
Due: cargo-fmt
